body {
    height: 100vh;
    width: 100vw;
    margin: 0;

}
.main {
    flex: 1;
    
    /* height: 100vh;
    width: 100vw; */
    background-color: indigo;

    display: flex;
    flex-direction: column;
}
.h1 {
    flex: 1;
    background-color: white;
    display: flex;
    justify-content: right;
    align-items: left;

}
.title {
    color: white;
    text-align: left;
    justify-items: left;
}

.box {
    flex: 8;
    background-color: white(243, 24, 9, 0.925);


display: flex;
flex-wrap: wrap;
justify-content: center;


    
}
.card {
    height: 220px;
    width: 200px;
    background-color:white(245, 242, 248);
    margin: 5px;
    
    

}
 #box {
    height: 20px;
    width: 250px;
    
}